*{
    box-sizing: border-box;
}
/* html{
    padding: 0;
    width: 100%;
    height: auto;
} */
body{
    margin: auto;
    padding: 1vw;
    /* display: flex;
    flex-direction: column; */
    position: sticky;
}

.tabs{
    list-style: none;
    text-decoration: none;
}
header{
    /* border-bottom: 1px, solid gray; */
    position: sticky;
}
.staticSection{
    position: sticky;
}
.dynamicSection{
    overflow: scroll;
    background-color: #E7E7F6;
    padding: 1vw;
}
a{
    text-decoration: none;
}
p{
    /* font-family: 'M PLUS Rounded 1c', sans-serif; */
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    color: #333;    
}
label{
    display: inline;
    padding: 3vw;
}
label:hover{
    transform: scale(1.1);
    color:  #000099;
  }
  
/* label:hover::after{
    content: " ";
    display: block;
    color: #5f0ef7;
    position: absolute;
    width: 20%;
    height: 1px;
    background-color:#3d16e9;
    background-position: center;
    margin-left: 3vw;
 } */

.tab{
    display:none;
}   
.tab + .tab-content{
    display:none;
    opacity: 0;
}
.tab:checked + .tab-content {
    display: inline-block;
    animation-name: courseTextClick;
    animation-duration: 1s;
    opacity: 1;
}

@keyframes courseTextClick{
    0% {opacity:0;}
    100% {opacity:1;}
}
 @media screen and (max-width: 410px){ 
    body{
        margin: 0;
        padding: 0;
        background-color:#F1F2F7; 
    }
    main{  
        width: 100%;      
        margin: 1vh auto;
    }
    .calendar{
        margin: 8px 16px;
        height: 20vh;    
        border: 1px dotted gray;    
    }
    .subjectList{
        /* height: 600px; */
        padding: 3vw;
        background-color: rgb(255, 255, 255);
        border-radius: 40px 40px 0 0;
        overflow: scroll;
    } 
    .notif{
        float: right;
    }
    footer{
        width: 100%;
        height: auto;
        position: fixed;
        bottom: 0;
        justify-content: center;
    }
    
    #profile{
        margin-top: 16px;
        margin-left: 16px;
        width: 36px;
        height: 36px;
        border-radius: 5vw 5vw 5vw 0vw;
        border: 1px solid gray;
    }

    /* components */
    hr{
        border-top: 0.1px #E7E7F6;
        opacity: 0.1;
    }

    p{
        font-family: exo;
    }

    /*Bottom menu*/

    .mainMenu{
        display: flex;
        background-color: #F1F2F7;
        justify-content: center;
        /* border-radius: 5vw; */
    }


    /* menu hoorondiin zai */
    .mainMenu i:not(:first-child){ 
        margin-left: 5%;
    }
       
    /*  */
    .mainMenu i.active{
        transform: scale(1.1);
        color:#fff;
    }
    /* Icon size */
    i{
        font-size: 5vw;
        padding: 16px;
    }
    .assignmentInfo{
        
    }
    /* course info component */

    .pl{
        display: inline;
        float: left;
        max-width:50%;
    }
    .pr{
        display: inline;
        float: right;  
    }
 } 