*{
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
body{
    margin: 0;
    padding: 1vw;
    background-color:green; 
    /* display: flex;
    flex-direction: column; */
}

.tabs{
    list-style: none;
    text-decoration: none;
}
header{
    height : 5.6vh;
}
a{
    text-decoration: none;
}

 @media screen and (max-width: 420px){ 
    body{
        margin: 0;
        padding: 0;
        background-color:#F3F3F8; 
    }
    main{  
        width: 100%;      
        margin: 1vh auto;
        background-color: rgb(159, 159, 207);
    }
    .calendar{
        margin: 8px 16px;

        height: 20vh;       
        
        background-color:rgb(168, 233, 233); 
    }
    .subjectList{
        /* height: 600px; */
        padding: 2vw;
        background-color: rgb(255, 255, 255);
        border-radius: 40px 40px 0 0;
    } 
    footer{
        width: 100%;
        height: auto;
        position: fixed;
        bottom: 0;
        justify-content: center;
        
    }
    
    #profile{
        margin-top: 16px;
        margin-left: 16px;
        width: 32px;
        height: 32px;
        border-radius: 5vw 5vw 5vw 5vw;
        border: 0.5px solid #D0CDCD;
    }

    /* components */
    hr{
        border-top: 0.1px #E7E7F6;
        opacity: 0.1;
    }

    p{
        font-family: exo;
    }

    /*Bottom menu*/

    .mainMenu{
        display: flex;
        background-color: rgb(240, 226, 226);
        justify-content: center;
    }


    /* menu hoorondiin zai */
    .mainMenu i:not(:first-child){ 
        margin-left: 5%;
    }
       
    /*  */
    .mainMenu a.active{
        transform: scale(1.1);
        color:#fff;
    }
    /* Icon size */
    i{
        font-size: 5vw;
        padding: 16px;
    }
    .assignmentInfo{
        
    }
    /* course info component */

    .pl{
        display: inline;
        float: left;
        max-width:50%;
    }
    .pr{
        display: inline;
        float: right;  
    }
 } 